<div class="row">
	<div class="six columns" style="margin-top: 5%">
		<h4>About</h4>
	    <p>Gradenotifier sends text messages to students whenever their grades are updated on Homelogic.</p>
	    <p>Created by Landen Danyluk, Daniel Lysack, and Iwan Levin during some spare time in computer science.</p>
	    <p>Teachers looking to get Gradenotifier for their classes: get started <a href="teachers.html">here</a></p>
	    <p>Are you a developer that thinks you can do better than us? You're probably right! <a href="https://github.com/gradenotifier">Check us out on GitHub.</a></p> 
	</div>
</div>