<div class="row">
	<div class="six columns" style="margin-top: 5%">
		<h4>Get a text when your grades are updated.</h4>
	</div>
</div>

<form method="POST" action="/">
	<div class="row">
		<div class="six columns">
			<label for="studentIDInput">Student ID</label>
      		<input class="u-full-width" type="text" name="student[studentNumber]" value="<%= @student.studentNumber %>" placeholder="12345" id="studentIDInput">
    	</div>
    	<div class="six columns">
      		<label for="phoneNumberInput">Phone Number</label>
      		<input class="u-full-width" type="text" name="student[phone]" value="<%= @student.phone %>" placeholder="12041234567" id="phoneNumberInput">
    	</div>
  	</div>
  <input class="button-primary" type="submit" value="Register">
</form>