<div class="row">
	<div class="six columns" style="margin-top: 5%">
		<h4>Teachers</h4>
		<p>As Gradenotifier is still in early beta, we are manually selecting and setting up teachers to use Gradenotifier. If you're intersted in joining us at this early stage, send an email to hello@gradenotifier.com</p>
	</div>
</div>